<div class="great-minds-container">
    <div class="top-nav" *ngIf="!isHost">
        <button class="info-btn" (click)="showRules = true" title="How to Play">
            <span>?</span>
        </button>
    </div>

    <app-great-minds-rules *ngIf="showRules" (closeRules)="showRules = false">
    </app-great-minds-rules>

    <ng-container *ngIf="isHost; else playerView">
        <app-great-minds-board [gameState]="gameState" [isHost]="isHost"></app-great-minds-board>
    </ng-container>
    <ng-template #playerView>
        <app-great-minds-player [gameState]="gameState" [myConnectionId]="myConnectionId">
        </app-great-minds-player>
    </ng-template>
</div>