<div class="row align-items-center justify-content-center min-vh-75 text-center">
    <div class="col-lg-8">
        <h1 class="hero-title mb-4">
            PLAY <br>
            <span class="text-primary">CONNECTED</span>
        </h1>
        <p class="lead text-secondary mb-5" style="font-weight: 500;">
            Your digital realm for physical fun. Join, play, and connect with board gamers worldwide.
        </p>
        <div class="d-flex gap-4 justify-content-center">
            <button routerLink="/games" class="btn btn-primary btn-lg px-5">Play Now</button>
            <button routerLink="/about" class="btn btn-lg btn-outline-primary px-5" style="border-width: 2px;">
                How It Works
            </button>
        </div>
    </div>
</div>