<div class="row align-items-center justify-content-center min-vh-75 text-center">
    <div class="col-lg-8">
        <h1 class="hero-title mb-4">
            PLAY <br>
            <span class="text-primary">CONNECTED</span>
        </h1>
        <p class="lead hero-caption text-secondary mb-5" style="font-weight: 500;">
            Your digital realm for physical fun. Join, play, and connect with board gamers worldwide.
            <span class="badge bg-primary rounded-pill text-white px-3 py-2 text-wrap lh-base fw-normal d-inline-block" style="max-width: 100%;">
                <i class="bi bi-stars"></i> We're currently in Beta! Thanks for playing and helping us improve.
            </span>
        </p>
        <div class="d-flex gap-4 justify-content-center flex-wrap">
            <button routerLink="/play" class="btn btn-primary btn-lg px-5 hero-btn">Play Now</button>
            <button routerLink="/about" class="btn btn-lg btn-outline-primary px-5 hero-btn" style="border-width: 2px;">
                How It Works
            </button>
        </div>
    </div>
</div>